@model RBAC.Model.menuModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 内容系统 - 文章列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/LayUI/dist/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/LayUI/dist/layuiadmin/style/admin.css" rel="stylesheet" />
</head>
<body>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body">
                <form class="layui-form " action="" style="margin-top:3em;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单名称</label>
                        <div class="layui-input-block">
                            <input asp-for="MenuName" placeholder="请输入菜单名称" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">链接地址</label>
                        <div class="layui-input-block">
                            <input asp-for="MenuLink" placeholder="请输入菜单的链接地址" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否显示</label>
                        <div class="layui-input-block">
                            <input type="checkbox" value="True" asp-for="IsShow" lay-skin="switch" lay-text="显示|隐藏">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" asp-for="ParnetID" value="0" />
                            <input type="hidden" asp-for="MenuID" />
                            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/LayUI/dist/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/LayUI/dist/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['form','index', 'contlist', 'table', 'tree'], function () {
            var form = layui.form;

            //添加根节点
            form.on('submit(formDemo)', function (data) {
                $.ajax({
                    url: "/Menu/CreateRoot",
                    type: "post",
                    dataType: "json",
                    data: $("form").serialize(),
                    success: function (d) {
                        layer.msg("添加根节点成功")
                    }
                })
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    </script>
</body>
</html>
