
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 内容系统 - 文章列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/LayUI/dist/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/LayUI/dist/layuiadmin/style/admin.css" rel="stylesheet" />
</head>
<body>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body">
                <div id="test1"></div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/LayUI/dist/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/LayUI/dist/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'contlist', 'table', 'tree'], function () {
            var tree = layui.tree;

            let nodes = [];

            $.ajax({
                url: "/Menu/GetNodes",
                type: "get",
                dataType: "json",
                async: false,
                success: function (d) {
                    nodes = d;
                }
            })

            console.log(nodes);

            //渲染
            var inst1 = tree.render({
                elem: '#test1'  //绑定元素
                , showCheckbox: true
                , edit: ['add', 'update', 'del']
                , text: {
                    defaultNodeName: '空节点' //节点默认名称
                    , none: '无数据' //数据为空时的提示文本
                }
                , data: nodes
            });
        });
    </script>
</body>
</html>
